.footer{
    position: relative;
    top: -250px;
    width: 1365px;
    height: 300px;
    background-color: #495567;
}

.footer-text1{
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 45px;
    position: relative;
    top: 80px;
    left: 200px;
}

.footer-text2{
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 45px;
    position: relative;
    top: 40px;
    left: 200px;
}

.apple{
    width: 180px;
    border-radius: 6px;
    height: 60px;
    background-color: #E5ECF4;
    border: none;
    margin-left: 800px;
    position: relative;
    top: -100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.apple-title1{
    font-size: 14px;
    position: relative;
    top: -60px;
    color: #495567;
    margin-left: 50px;
}

.apple-title2{
    position: relative;
    top: -80px;
    font-size: 20px;
    color: #495567;
    margin-left: 30px;
}

.icon-1{
     font-size: 45px;
     margin-left: -120px;
     margin-top: 5px;
}


.google{
    width: 180px;
    border-radius: 6px;
    height: 60px;
    background-color: #E5ECF4;
    border: none;
    margin-left: 1000px;
    position: relative;
    top: -160px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.google-title1{
    font-size: 14px;
    position: relative;
    top: -60px;
    color: #495567;
    margin-left: 50px;
}

.google-title2{
    position: relative;
    top: -80px;
    font-size: 20px;
    color: #495567;
    margin-left: 30px;
}

.icon-2{
     font-size: 45px;
     margin-left: -120px;
     margin-top: 5px;
}



.footer2{
    width: 1365px;
    height: 106px;
    background: #333A44;
    margin-top: -300px;
}

.footer2-title1{
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 100px;
}

.p-lar{
    display: flex;
    width: 230px;
    color: #939CAA;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 300px;
    font-size: 15px;
}

.icon-3{
    font-size: 40px;
    margin-top: -45px;
    margin-left: 1000px;
}


.icon-4{
    font-size: 40px;
    margin-top: -45px;
    margin-left: 1050px;
}

.icon-5{
    font-size: 40px;
    margin-top: -45px;
    margin-left: 1100px;
}