

.hair {
    border-radius: 50%;
    width: 400px;
    margin-left: 800px;
    margin-top: -220px;
    border: 2px solid green;
}

.intro-word1 {
    font-family: 'Space Mono', monospace;
    color: #495567;
    font-size: 48px;
    margin-top: 200px;
    margin-left: 100px;
}

.intro-word2 {
    font-family: 'Space Mono', monospace;
    color: #495567;
    font-size: 48px;
    margin-top: -50px;
    margin-left: 100px;
}

.p-4ta {
    font-family: 'Lexend Deca', sans-serif;
    color: #495567;
    margin-left: 100px;
    height: 30px;
    font-size: 15px;
}

.second-strelka {
    position: relative;
    margin-left: 670px;
    margin-top: -130px;
}

.dumaloq1 {
    margin-left: 1250px;
    margin-top: -500px;
}

.section3-button {
    font-family: 'Space Mono', monospace;
    width: 180px;
    height: 60px;
    border: none;
    background: #FCB72B;
    margin-left: 100px;
    position: relative;
    top: -100px;
    color: #FFFFFF;
    font-size: 16px;
}

.section3-button:hover {
    font-family: 'Space Mono', monospace;
    width: 180px;
    height: 60px;
    border: 1px solid orange;
    background: #Fff;
    margin-left: 100px;
    position: relative;
    top: -100px;
    color: orange;
    font-size: 16px;
}